WindowsService1/Connected Services/MaximoServiceReference/SAGE_CCINTMXSUPPLIERS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:mx="http://www.ibm.com/maximo" xmlns:mxws="http://www.ibm.com/maximo/wsdl/SAGE_CCINTMXSUPPLIERS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="SAGE_CCINTMXSUPPLIERS" targetNamespace="http://www.ibm.com/maximo/wsdl/SAGE_CCINTMXSUPPLIERS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.ibm.com/maximo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/maximo">
      <xsd:simpleType name="ProcessingActionType">
        <xsd:annotation>
          <xsd:documentation>Enumerated List of Processing Actions supported by Maximo Services</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="Add" />
          <xsd:enumeration value="Change" />
          <xsd:enumeration value="Replace" />
          <xsd:enumeration value="Delete" />
          <xsd:enumeration value="AddChange" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OperandModeType">
        <xsd:annotation>
          <xsd:documentation>Enumerated List of operand modes supported by Maximo Query</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="OR" />
          <xsd:enumeration value="AND" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MboRelationshipType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="EventType">
        <xsd:annotation>
          <xsd:documentation>Boolean flag identifying if a published MOS was the result of an event. 1 implies event</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="0|1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ChangeIndicatorType">
        <xsd:annotation>
          <xsd:documentation>Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="QueryOperatorType">
        <xsd:annotation>
          <xsd:documentation>Operator identifying the QBE action to be performed on the field it is associated with</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="=" />
          <xsd:enumeration value="!=" />
          <xsd:enumeration value="&lt;" />
          <xsd:enumeration value="&lt;=" />
          <xsd:enumeration value="&gt;" />
          <xsd:enumeration value="&gt;=" />
          <xsd:enumeration value="EW" />
          <xsd:enumeration value="SW" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BooleanType">
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="0|1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MaximoVersionType">
        <xsd:annotation>
          <xsd:documentation>This is a concatenated string that identifies the major version, minor version, build and dbbuild</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="MXStringType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLangStringType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
            <xsd:attribute fixed="1" name="languageEnabled" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDoubleType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXFloatType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:float">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLongType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:long">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXIntType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:int">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBooleanType">
        <xsd:simpleContent>
          <xsd:extension base="mx:BooleanType">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDateTimeType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:dateTime">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBinaryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:base64Binary">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXCryptoType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:base64Binary">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
            <xsd:attribute default="1" name="mxencrypted" type="mx:BooleanType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLComponentType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="glorder" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="0" />
                  <xsd:maxExclusive value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLAccountType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20" name="GLCOMP" type="mx:MXGLComponentType" />
        </xsd:sequence>
        <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MXDomainType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXStringQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDoubleQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXFloatQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:float">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLongQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXIntQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:int">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBooleanQueryType">
        <xsd:simpleContent>
          <xsd:extension base="mx:BooleanType">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDateTimeQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:dateTime">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLComponentQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="glorder" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="0" />
                  <xsd:maxExclusive value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLAccountQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MXDomainQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:attributeGroup name="ObjectStructurePropertyGroup">
        <xsd:attribute name="action" type="mx:ProcessingActionType" use="optional" />
        <xsd:attribute name="relationship" type="xsd:string" use="optional" />
        <xsd:attribute name="deleteForInsert" type="xsd:string" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="CommonContentGroup">
        <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="baseLanguage" type="xsd:string" use="optional" />
        <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
        <xsd:attribute name="messageID" type="xsd:string" use="optional" />
        <xsd:attribute name="maximoVersion" type="mx:MaximoVersionType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="PublishingContentGroup">
        <xsd:attribute default="0" name="event" type="mx:EventType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="QueryContentGroup">
        <xsd:attribute default="0" name="uniqueResult" type="mx:BooleanType" use="optional" />
        <xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional" />
        <xsd:attribute default="0" name="rsStart" type="xsd:integer" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="QueryClausePropertyGroup">
        <xsd:attribute name="orderby" type="xsd:string" use="optional" />
        <xsd:attribute default="AND" name="operandMode" type="mx:OperandModeType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="ResponseContentGroup">
        <xsd:attribute name="rsStart" type="xsd:integer" use="optional" />
        <xsd:attribute name="rsCount" type="xsd:integer" use="optional" />
        <xsd:attribute name="rsTotal" type="xsd:integer" use="optional" />
      </xsd:attributeGroup>
      <xsd:complexType name="CCINTMXVENDOR_COMPANIESType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MAXINTERRORMSG" type="xsd:string" />
          <xsd:element minOccurs="0" name="ADDRESS1" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ADDRESS2" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ADDRESS3" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ADDRESS4" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="COMPANY" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CONTACT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CURRENCYCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DISABLED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="FREIGHTTERMS_LONGDESCRIPTION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="HOMEPAGE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="NAME" type="mx:MXLangStringType">
            <xsd:annotation>
              <xsd:documentation>Multiple languages supported</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="NAME_LONGDESCRIPTION" type="mx:MXLangStringType">
            <xsd:annotation>
              <xsd:documentation>Multiple languages supported</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ORGID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="PHONE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TYPE" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPCONTACT" type="mx:CCINTMXVENDOR_COMPCONTACTType" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:ObjectStructurePropertyGroup" />
        <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="CCINTMXVENDOR_COMPCONTACTType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CONTACT" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="EMAIL" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="POSITION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="VOICEPHONE" type="mx:MXStringType" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:ObjectStructurePropertyGroup" />
      </xsd:complexType>
      <xsd:complexType name="CCINTMXVENDORType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="COMPANIES" type="mx:CCINTMXVENDOR_COMPANIESType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CCINTMXVENDORSetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANIES" type="mx:CCINTMXVENDOR_COMPANIESType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CCINTMXVENDORQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
          <xsd:element minOccurs="0" name="COMPANIES">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS1" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS2" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS3" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS4" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANY" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTACT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CURRENCYCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DISABLED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="HOMEPAGE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="NAME" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Multiple languages supported</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORGID" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PHONE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TYPE" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" name="COMPCONTACT">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTACT" type="mx:MXStringQueryType">
                        <xsd:annotation>
                          <xsd:documentation>Unique Key Component</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="EMAIL" type="mx:MXStringQueryType" />
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="POSITION" type="mx:MXStringQueryType" />
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="VOICEPHONE" type="mx:MXStringQueryType" />
                    </xsd:sequence>
                    <xsd:attribute name="filter" type="xsd:boolean" use="optional" />
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:QueryClausePropertyGroup" />
      </xsd:complexType>
      <xsd:complexType name="CCINTMXVENDORCombinedKeySetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANIES">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ORGID" type="mx:MXStringType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="COMPANY" type="mx:MXStringType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="COMPANIESID" nillable="true" type="mx:MXLongType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CCINTMXVENDOR" type="mx:CCINTMXVENDORType" />
      <xsd:element name="CCINTMXVENDORSet" type="mx:CCINTMXVENDORSetType" />
      <xsd:element name="CCINTMXVENDORQuery" type="mx:CCINTMXVENDORQueryType" />
      <xsd:complexType name="COMPANIESKeyType">
        <xsd:sequence>
          <xsd:element name="ORGID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="COMPANY" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="COMPANIESObjectType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="COMPANY" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="TYPE" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="NAME" type="mx:MXLangStringType">
            <xsd:annotation>
              <xsd:documentation>Multiple languages supported</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ADDRESS1" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ADDRESS2" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ADDRESS3" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ADDRESS4" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CONTACT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PHONE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="FOB" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="FREIGHTTERMS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SHIPVIA" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PAYMENTTERMS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CUSTOMERNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="FAX" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CHANGEBY" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CHANGEDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="INCLUSIVE1" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="INCLUSIVE2" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="INCLUSIVE3" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="TAX1CODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TAX2CODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TAX3CODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CURRENCYCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="LOCATION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REGISTRATION1" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REGISTRATION2" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REGISTRATION3" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="APCONTROLACC" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="APSUSPENSEACC" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="RBNIACC" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="PAYVENDOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="BANKACCOUNT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="INCLUSIVE4" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="INCLUSIVE5" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="REGISTRATION4" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REGISTRATION5" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TAX4CODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TAX5CODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DISABLED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="REMITADDRESS1" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REMITADDRESS2" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REMITADDRESS3" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REMITADDRESS4" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REMITCONTACT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PAYONRECEIPT" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="HOMEPAGE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="BANKNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DUNSNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TAXEXEMPTCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TAXEXEMPTNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ECOMMERCEENABLED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="MNETCOMPANYID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SOURCESYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="OWNERSYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EXTERNALREFID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SENDERSYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="AUTORECEIVEONASN" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="VENDORSENDSASN" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="VENDORSENDSINV" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ECOMINTERFACE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="VENDORSENDSSTATUS" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="AUTOAPPROVEINV" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="AUTOSENDPOCANCEL" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ORGID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DEFAULTWAREHOUSE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PARENTCOMPANY" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="USEPARENTREMITTO" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ADDRESS5" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="REMITADDRESS5" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CATALOGNAME" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PUNCHOUTENABLED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="COMPANIESID" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="INSUREXPDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="INSPECTIONREQUIRED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="LANGCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TOOLCONTROLACCOUNT" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="HASLD" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="CELLPHONE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CONSACCT" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="PLUSAMNTLOC" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSACALNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSASHIFTNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSPINSERTCUSTOMER" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CCPRODCATEG" type="mx:MXStringType" />
        </xsd:sequence>
        <xsd:attribute name="action" type="mx:ProcessingActionType" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="COMPANIESMboKeyType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="COMPANIES" type="mx:COMPANIESKeyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="COMPANIESMboKeySetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANIES" type="mx:COMPANIESKeyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="COMPANIESMboSetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANIES" type="mx:COMPANIESObjectType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="COMPANIESMboType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="COMPANIES" type="mx:COMPANIESObjectType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="COMPANIESMboQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
          <xsd:element minOccurs="0" name="COMPANIES">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANY" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TYPE" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="NAME" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Multiple languages supported</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS1" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS2" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS3" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS4" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTACT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PHONE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FOB" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FREIGHTTERMS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIPVIA" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYMENTTERMS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CUSTOMERNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FAX" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEBY" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE1" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE2" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE3" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TAX1CODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TAX2CODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TAX3CODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CURRENCYCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="LOCATION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REGISTRATION1" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REGISTRATION2" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REGISTRATION3" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="APCONTROLACC" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="APSUSPENSEACC" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="RBNIACC" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYVENDOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BANKACCOUNT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE4" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE5" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REGISTRATION4" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REGISTRATION5" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TAX4CODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TAX5CODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DISABLED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REMITADDRESS1" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REMITADDRESS2" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REMITADDRESS3" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REMITADDRESS4" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REMITCONTACT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYONRECEIPT" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="HOMEPAGE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BANKNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DUNSNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TAXEXEMPTCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TAXEXEMPTNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ECOMMERCEENABLED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MNETCOMPANYID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SOURCESYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="OWNERSYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXTERNALREFID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SENDERSYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="AUTORECEIVEONASN" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDORSENDSASN" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDORSENDSINV" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ECOMINTERFACE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDORSENDSSTATUS" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="AUTOAPPROVEINV" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="AUTOSENDPOCANCEL" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORGID" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DEFAULTWAREHOUSE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PARENTCOMPANY" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="USEPARENTREMITTO" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ADDRESS5" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REMITADDRESS5" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CATALOGNAME" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PUNCHOUTENABLED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="COMPANIESID" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSUREXPDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSPECTIONREQUIRED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="LANGCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOOLCONTROLACCOUNT" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="HASLD" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CELLPHONE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONSACCT" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSAMNTLOC" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSACALNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSASHIFTNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSPINSERTCUSTOMER" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CCPRODCATEG" type="mx:MXStringQueryType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:QueryClausePropertyGroup" />
      </xsd:complexType>
      <xsd:element name="COMPANIESMbo" type="mx:COMPANIESMboType" />
      <xsd:element name="COMPANIESMboSet" type="mx:COMPANIESMboSetType" />
      <xsd:element name="COMPANIESMboKey" type="mx:COMPANIESMboKeyType" />
      <xsd:element name="COMPANIESMboKeySet" type="mx:COMPANIESMboKeySetType" />
      <xsd:element name="COMPANIESMboQuery" type="mx:COMPANIESMboQueryType" />
      <xsd:complexType name="CreateCCINTMXVENDORType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="InvokeCCINTMXVENDORType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="QueryCCINTMXVENDORType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORQuery" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:QueryContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="SyncCCINTMXVENDORType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="PublishCCINTMXVENDORType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:PublishingContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="UpdateCCINTMXVENDORType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="DeleteCCINTMXVENDORType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="InvokeCCINTMXVENDORResponseType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="CreateCCINTMXVENDORResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="mx:COMPANIESMboKeySet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="QueryCCINTMXVENDORResponseType">
        <xsd:sequence>
          <xsd:element ref="mx:CCINTMXVENDORSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:ResponseContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="SyncCCINTMXVENDORResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="DeleteCCINTMXVENDORResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="UpdateCCINTMXVENDORResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:element name="UpdateCCINTMXVENDOR" type="mx:UpdateCCINTMXVENDORType" />
      <xsd:element name="QueryCCINTMXVENDOR" type="mx:QueryCCINTMXVENDORType" />
      <xsd:element name="CreateCCINTMXVENDOR" type="mx:CreateCCINTMXVENDORType" />
      <xsd:element name="SyncCCINTMXVENDOR" type="mx:SyncCCINTMXVENDORType" />
      <xsd:element name="DeleteCCINTMXVENDOR" type="mx:DeleteCCINTMXVENDORType" />
      <xsd:element name="PublishCCINTMXVENDOR" type="mx:PublishCCINTMXVENDORType" />
      <xsd:element name="InvokeCCINTMXVENDOR" type="mx:InvokeCCINTMXVENDORType" />
      <xsd:element name="InvokeCCINTMXVENDORResponse" type="mx:InvokeCCINTMXVENDORResponseType" />
      <xsd:element name="QueryCCINTMXVENDORResponse" type="mx:QueryCCINTMXVENDORResponseType" />
      <xsd:element name="CreateCCINTMXVENDORResponse" type="mx:CreateCCINTMXVENDORResponseType" />
      <xsd:element name="SyncCCINTMXVENDORResponse" type="mx:SyncCCINTMXVENDORResponseType" />
      <xsd:element name="UpdateCCINTMXVENDORResponse" type="mx:UpdateCCINTMXVENDORResponseType" />
      <xsd:element name="DeleteCCINTMXVENDORResponse" type="mx:DeleteCCINTMXVENDORResponseType" />
    </xsd:schema>
  </types>
  <message name="SyncCCINTMXVENDORRequest">
    <part name="parameters" element="mx:SyncCCINTMXVENDOR" />
  </message>
  <message name="SyncCCINTMXVENDORResponse">
    <part name="parameters" element="mx:SyncCCINTMXVENDORResponse" />
  </message>
  <portType name="SAGE_CCINTMXSUPPLIERSPortType">
    <operation name="SyncCCINTMXVENDOR">
      <input message="mxws:SyncCCINTMXVENDORRequest" />
      <output message="mxws:SyncCCINTMXVENDORResponse" />
    </operation>
  </portType>
  <binding name="SAGE_CCINTMXSUPPLIERSSOAP11Binding" type="mxws:SAGE_CCINTMXSUPPLIERSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="SyncCCINTMXVENDOR">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SAGE_CCINTMXSUPPLIERS">
    <port name="SAGE_CCINTMXSUPPLIERSSOAP11Port" binding="mxws:SAGE_CCINTMXSUPPLIERSSOAP11Binding">
      <soap:address location="https://localhost:9080/meaweb/services/SAGE_CCINTMXSUPPLIERS" />
    </port>
  </service>
</definitions>